@import '~themes/vars.less';

body {
  height: 100%;
  overflow-y: hidden;
  background-color: #f8f8f8;
}
*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

:global {
  .myBtn{
    .button(32px);
  }
  .ant-tooltip-inner{
    box-shadow:0px 4px 10px 0px rgba(0,0,0,0.2) !important; 
    background-color: #fff !important;
    padding: 3px 8px !important;
    color: @text-color !important;
    min-height: auto !important;
    
  }
  .ant-tooltip-arrow{
    border-bottom-color:#fff !important;
  }
  .main-menu{
    .ant-menu-submenu-open{
      background:rgba(0,0,0,0.1);
    }
    .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
      border-right: none;
    }
    .ant-menu{
      background: none;
      color: #fff ;
      &:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background:rgba(0,0,0,0.1);

      }
      .ant-menu-item-selected{
        color: #fff;
      }
    }
    .ant-menu-submenu-title{
      .ant-menu-submenu-arrow{
        &::after, &::before{
          background-image:linear-gradient(to right, #fff, #fff) !important;
        }
      }
    }
    .ant-menu-submenu > .ant-menu{
      background: none;
    }
    &.ant-layout-sider{
      background:@main-gradient-bg !important;
    }
    
  }
  .ant-layout-header{
    height: 60px !important;
    line-height: 60px !important;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    position: relative;
  }
  a:focus {
    text-decoration: none;
  }
}
@media (min-width: 1600px) {
  
}
@media (max-width: 767px) {
  
}
